.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.App-intro {
  font-size: large;
}

.App-content {
  margin-top: 80px;
}

.definitions, .examples {
  list-style-type: none;
  text-align: left;
}

.definition__name {
  font-weight: bold;
  display: inline;
}

.definition__description {
  font-style: italic;
  font-size: 11px;
  display: inline;
}

.example {
  font-size: 11px;
}

.video-container {
  display: block;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
  padding: 0 5px 0 5px;
}

.main-nav a {
  text-decoration: none;
  color: lavenderblush;
}

.main-nav a:hover {
  color: lightsteelblue;
}