.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.definitions {
  list-style-type: none;
  text-align: left;
}

.definition__name {
  font-weight: bold;
  display: inline;
}

.definition__description {
  font-style: italic;
  font-size: 11px;
  display: inline;
}